<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Microsoft 365 Assessment</title>
  <meta name="description" content="Microsoft 365 assessment report.">
  <meta name="author" content="System Admins">
  <meta property="og:title" content="Microsoft 365 assessment">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.systemadmins.com">
  <meta property="og:description" content="Microsoft 365 assessment report.">
  <meta property="og:image" content="image.png">
  <!--<link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">-->
  <link rel="stylesheet" href="css/reset.css?v=1.0">
  <link rel="stylesheet" href="css/styles.css?v=1.0">
  <link href="fonts/DMSans-Italic-VariableFont_opsz,wght.ttf" rel="stylesheet">
</head>

<body>
  <div id="wrapper">
    <div id="innerWrapper">
      <header>
        <div id="logo">
          <img src="images/logo.svg">
        </div>
        <div id="siteTitle">
          Microsoft 365 Assessment
        </div>
      </header>
      <section id="frontpage">
        <div id="documentTitle">
          <p id="documentHeadline">
            Microsoft 365 Assessment
          </p>
          <p id="documentTagline">
            System Admins
          </p>
        </div>
      </section>
      <section id="reviews">
      </section>
      <footer>
        <p>
          &copy; 2024 System Admins | Tjørnevænget 6 | DK-2680 Solrød Strand | www.systemadmins.com
        </p>
      </footer>
    </div>
  </div>
</body>
</html>