/* #region Overall */
html,
body {
    font-family: 'DM Sans';
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}

/* #endregion Overall */

/* #region Wrapper */
#wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

#innerWrapper {
    max-width: 1024px;
    width: 100%;
}

/* #endregion Wrapper */

/* #region Header */
header {
    height: 80px;
    background-color: #d6fde6;
    vertical-align: middle;
    padding: 0 80px 0 80px;
}

#logo {
    float: left;
    height: 100%;
    width: 30%;
    display: flex;
}

#logo img {
    display: block;
    width: 50%;
}

#siteTitle {
    float: left;
    height: 100%;
    width: 70%;
    display: flex;
    line-height: 80px;
    justify-content: right;
}

/* #endregion Header */

/* #region Content */
section {
    height: 100%;
    background-color: #ffffff;
    padding: 0 80px 0 80px;
}

section h2,
section h3 {
    margin-bottom: 10px;
    font-weight: bolder;
}

section h2 {
    font-size: 18pt;
    padding-top: 80px;
}

section h3 {
    font-size: 14pt;
    padding-top: 40px;
}

section table {
    margin-top: 10px;
    min-width: 200px;
}

section table th,
section table td {
    padding: 15px 15px 15px 15px;
    border: 1px solid #ffffff;
}

section table td {
    vertical-align: center;
}

section table th {
    background-color: #004C50;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
}

section table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

section table tr:nth-child(even) {
    background-color: #ffffff;
}

section ol,
section ul {
    padding-left: 20px;
    line-height: 20pt;
}

section ol {
    list-style: decimal outside;
}

section ul {
    list-style-type: square;
}

section ul li::marker {
    color: #004C50;
}

section p {
    line-height: 20pt;
}

section strong {
    font-weight: bolder;
}

/* #endregion Content */

/* #region Footer*/
footer {
    min-height: 80px;
    background-color: #d6fde6;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #endregion Footer */

/* #region Numbering */
body {
    counter-reset: h1counter h2counter h3counter h4counter h5counter h6counter;
}

h1 {
    counter-reset: h2counter;
}

h2 {
    counter-reset: h3counter;
}

h3 {
    counter-reset: h4counter;
}

h4 {
    counter-reset: h5counter;
}

h5 {
    counter-reset: h6counter;
}

h2:before {
    counter-increment: h2counter;
    content: counter(h2counter) ".\0000a0\0000a0";
}

h3:before {
    counter-increment: h3counter;
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
}

h4:before {
    counter-increment: h4counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
}

h5:before {
    counter-increment: h5counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ".\0000a0\0000a0";
}

h6:before {
    counter-increment: h6counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) "." counter(h6counter) ".\0000a0\0000a0";
}

/* #endregion Numbering */

/* #region Print */
@media print {
    @page {
        size: A4;
        margin: 2cm;
    }
    #wrapper {
        background-color: none !important;
    }

    section, header, footer {
        padding: 0;
    }

    footer {
        display: none;
    }

    table,
    figure {
        page-break-inside: avoid;
    }

    section div:first-child
    {
        page-break-before: avoid !important;
    }

    section div {
        page-break-before: always;
    }

}
/* #endregion Print */